{% extends 'guitar/baseNavbar.html' %}

{% load static %}

{% block css %}
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{% static 'css/reset.css' %}"> <!-- CSS reset -->
<link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Resource style -->
<link rel="stylesheet" href="{% static 'css/demo.css' %}"> <!-- Demo style -->


{% endblock css %}

{% block title %}
Registro
{% endblock title %}

{% block content %}

<div class="container">
    {% load crispy_forms_tags %}

    <br>
    <br>
    <br>
    <div class="row">

        <div class="col-12 col-md-6 offset-md-3">

            <div class="card">

                <div class="card-body">


                    <h2>Registrarse</h2>

                    <hr>

                    <form action="" method="post">

                        {% csrf_token %}

                        {{form | crispy}}

                        <a href="{% url 'home' %}">Ir al home</a>
                        <input type="submit" value="Registrarse" class="btn btn-success">




                    </form>


                </div>

            </div>

        </div>




    </div>




</div>



{% endblock content %}