{% extends 'guitar/baseNavbar.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/styleListaProductos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script  src="{% static 'js/script.js' %}"></script>



{% endblock %}

{% block title %}
home
{% endblock title %}

{% block content %}

<div class="container">
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row">

        {% for producto in productos %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                {% if producto.imagen %}
                <!-- PA QUE MUESTRE LA IMAGEN TIENE QUE TENER .URL CREO NOSE-->
                <img class="group list-group-image" src="{{ producto.imagen.url }}" alt="" />
                {% endif %}
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ producto.nombre}}</h4>
                    <p class="group inner list-group-item-text">
                        {{producto.categoria}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                $ {{producto.precio}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        
        
    </div>
</div>


{% endblock %}

{% block js %}
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
<script  src="{% static 'js/script.js' %}"></script>

{% endblock %}